/*LOADING PAGE*/
.div-container {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#logo-div-div {
  width: 120px;
  height: 120px;
  z-index: 1000;
}

.flash {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--white);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg) translateX(120px);
  transform-origin: center center;
  animation: rotar 2.5s ease infinite;
}

@keyframes rotar {
  0% {
    transform: translate(-50%, -50%) rotate(-90deg) translateX(120px);
  }
  100% {
    transform: translate(-50%, -50%) rotate(270deg) translateX(120px);
  }
}

/*NOTIFICATIONS*/
/* 
<div className={`notifi-${type}`}>
            <p>{message}</p>
            <button className="close-btn" onClick={onClose}>x</button>
        </div> */

.notify {
  width: 350px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border: 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  animation: show 0.4s ease forwards;
}

.success {
  background-color: var(--verde);
}

.notify p {
  font-size: 0.9rem;
  color: var(--fondo);
}

.notify button {
  font-size: 0.9rem;
  background-color: transparent;
  border: 0;
  width: 20px;
  height: 20px;
}

.notify button svg {
  width: 100%;
  height: 100%;
}

.hide {
  animation: hide 0.4s ease forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.confirmPopup {
  position: absolute;
  background-color: var(--fondoNav);
  border: 0.5px solid var(--borderNav);
  border-radius: 12px;
  color: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  text-align: center;
  align-items: center;
}

.confirmPopup div {
  display: flex;
  gap: 100px;
  margin-top: 10px;
}

.confirmPopup p {
  max-width: 300px;
}

.acceptPopup,
.cancelPopup {
  padding: 10px;
  padding-inline: 15px;
  background-color: var(--f20);
  color: var(--white);
  border: 0;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.acceptPopup {
  background-color: var(--red);
}

.alertIconPopup {
  color: var(--red);
  height: 100px;
  width: 100px;
}
