/*FONDO*/

.container-launchpad {
  width: 100%;
  height: 100vh;
  background-color: var(--fondo);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#redonda {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 50%;
  filter: blur(300px);
  background-color: #fafafa70;
  border: 0;
  border-radius: 1000px;
}

/*CONTAINER*/

.div-launchpad {
  background-color: var(--fondoBlue);
  /* background-color: #123956;
  background-color: #15485b50; */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3), inset 0 0px 10px #1d386b;
  border: 0.5px solid var(--borderNav);
  width: 550px;
  height: 700px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  position: relative;
  z-index: 1000;
  gap: 80px;
}

/*PERFIL*/
.div-perfil-pec {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  top: 20px;
  right: 20px;
  padding: 5px;
  border: 0;
  border-radius: 20px;
  transition: all 0.2s ease;
}

.div-perfil-pec:hover{
  background-color: var(--f20);
}

#btn-perfil {
  font-size: 1rem;
  width: 35px;
  height: 35px;
  border: 0;
  border-radius: 50px;
}

.div-perfil-pec svg {
  width: 20px;
  height: 20px;
  position: relative;
}



/*Div de tus workspace*/
.myWorkspace {
  width: 70%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.workspace-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.workspace-header h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.workspace-header p {
  font-size: 0.9rem;
  font-weight: 300;
  text-align: center;
}

/*Div donde se guardan las cartas de los espacios*/
#showMyWorkspace {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 120px;
  overflow-y: scroll;
  padding-right: 15px;
  scrollbar-width: thin;
  scrollbar-color: var(--secondText) transparent;
}

#showMyWorkspace::-webkit-scrollbar{
  width: 3px;
}

#showMyWorkspace::-webkit-scrollbar-thumb{
  background-color: var(--white);
  width: 3px;
}

/*carta para cada espacio*/
.workspace-card {
  background-color: var(--f20);
  border: 0;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.workspace-card p {
  font-size: 1rem !important;
  font-weight: 400;
}

.workspace-card:hover {
  background-color: var(--f30);
}

/*Icono del espacio*/
.draft-logo {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#option-space{
  position: absolute;
  right: 20px;
  background-color: transparent;
  border: 0;
  color: var(--white);
  font-size: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

#option-space svg{
  width: 80%;
  height: 80%;
}

#option-space:hover{
  background-color: var(--f30);
}

.workspace-card:hover #option-space{
  display: flex;
}

/*Div donde se muestran los espacios en los que te has unido*/
.joinedWorkspace {
  width: 70%;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.joinedWorkspace h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.joinedWorkspace p {
  font-size: 0.9rem;
  font-weight: 300;
}

.no-workspace {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--secondText);
  text-align: center;
}

/*DIV ACTIONS*/
.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
}

.actions span {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  font-weight: 400;
  white-space: nowrap;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--white);
  z-index: 10;
  display: none;
}

.actions:hover span {
  display: block;
}

.btn-add {
  background-color: var(--f10);
  width: 30px;
  height: 30px;
  border: 0.5px solid var(--secondText);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--secondText);
  transition: all 0.2s;

}

.btn-add:hover {
  background-color: var(--f20);
}

.invitations {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#emailbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 0.5px solid var(--secondText);
  border-radius: 35px;
  background-color: var(--f10);
  cursor: pointer;
  transition: all 0.2s;
}

#emailbox svg {
  width: 20px;
  height: 20px;
  color: var(--secondText);
}

#emailbox:hover {
  background-color: var(--f20);
}


/*JOINSPACE*/

.container-joinWorkspace {
  width: 100%;
  height: 100vh;
  background-color: var(--fondo);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.div-joinSpace {
  background-color: var(--fondoBlue);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3), inset 0 0px 10px #1d386b;
  border: 0.5px solid var(--borderNav);
  width: 550px;
  height: 500px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: var(--white);
  position: relative;
  z-index: 10;
  position: relative;
}

.error-join-code {
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--red);
  padding-left: 5px;
  visibility: hidden;
}

.showError {
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--red);
  padding-left: 5px;
  visibility: visible;
}

.inputError {
  border-color: var(--red) !important;
}

.inputError:hover {
  border-color: var(--red) !important;
}

.inputError:focus {
  border: 0.5px solid var(--red);
  outline: none !important;
  box-shadow: none !important;
}


.showInvitations{
  position: absolute;
  width: 210px;
  background-color: var(--fondoBlue);
  padding: 10px 15px;
  border: 0.5px solid var(--borderNav);
  border-radius: 5px;
  right: 0px;
  bottom: 40px;
  z-index: 1000;
  max-height: 200px;
  overflow: auto;
}

.mesaje-notifi-invite{
color: var(--white);
  font-size: 0.9rem;
}

.title-invitatios{
  color: var(--secondText);
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.invitation-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 0;
  width: 100%;
}

.invitation-card p{
  font-size: 0.9rem;
  font-weight: 300;
}

.invitation-card p span{
  font-size: 0.9rem;
  color: var(--secondText);
  font-weight: 300;
}

.div-options-invitation{
  display: flex;
  justify-content: space-between;
}

.div-options-invitation button{
  padding: 3px 10px;
  border-radius: 8px;
  border: 0;
  color: var(--white);
  cursor: pointer;
}

.btn-aceptar-invitation{
  background-color: var(--blue);
}

.btn-cancel-invitation{
  background-color: var(--f20);

}


@media (max-width: 480px) {
  .div-launchpad{
    padding: 20px;
    background-color: transparent !important;
    border: 0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3), inset 0 0px 0px #33a0c89e;
  }

  .myWorkspace{
    width: 100%;
  }

  .joinedWorkspace{
    width: 100%;
  }

  .submit-login{
    width: 100%;
  }

  #redonda {
    width: 60%;
    height: 60%;
    filter: blur(250px);
    background-color: #fafafa70;
    border: 0;
    border-radius: 1000px;
  }
}