/*Nav*/
#navbar {
  width: 60px;
  height: 100%;
  border: 0.5px solid var(--borderNav);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--fondoNav);
}

.expanded {
  width: 220px !important;
}

/*Div con componente perfil y btn expandir*/
#general-profile-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.expanded-profile {
  flex-direction: row !important;
  justify-content: space-between !important;
}

/*Btn para el sidebar*/
#btn-sidebar {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
#btn-sidebar svg {
  color: var(--secondText);
  transition: all 0.3s ease;
}

#btn-sidebar:hover {
  background-color: var(--fondoHover);
}

#btn-sidebar:hover svg {
  color: var(--white);
}

/*Profile Colapsed*/
#btn-profile-collapsed {
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  padding: 2px;
  transition: all 0.3s ease;
  position: relative;
}

#btn-profile-collapsed:hover {
  background-color: var(--f20);
}

#avatar-container {
  width: 40px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 8px;
  text-align: center;
  z-index: 300;
  color: var(--white);
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dropdown-icon {
  position: absolute;
  height: 10px;
  width: 10px;
  border: 1px solid var(--fondo);
  border-radius: 2px;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  background-color: var(--white);
}

#dropdown-icon svg {
  width: 100%;
  color: var(--fondo);
}

/*Profile expanded*/
#btn-profile-expanded {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: 0;
  color: var(--white);
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s ease;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
}

#btn-profile-expanded:hover {
  background-color: var(--f20);
}

.options-space-div {
  display: flex;
  flex-direction: column;
  border-top: 0.5px solid var(--borderNav);
  padding: 10px 0;
  gap: 5px;
}

.options-space-div button {
  display: flex;
  color: var(--white);
  background-color: transparent;
  border: 0;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 5px 0 5px 5px;
  border-radius: 8px;
}

.options-space-div button:hover {
  background-color: var(--f20);
}

.options-space-div button svg {
  width: 24px;
  height: 24px;
}

#avatar-container-expanded {
  width: 40px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 8px;
  text-align: center;
  position: relative;
  z-index: 300;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

#name-arrow-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

#workspace-name {
  font-size: 0.9rem;
}

.fade-text {
  max-width: 7rem; /* o puedes usar 7em si prefieres */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

#dropdown-icon-expanded {
  position: relative;
  height: 10px;
  width: 10px;
  border: 0;
  border-radius: 2px;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  background-color: transparent;
}

#dropdown-icon-expanded svg {
  color: var(--white);
  background-color: transparent;
}

/*Dropdown*/
.dropdown-space {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px;
  border: 0;
  border-radius: 8px;
  background-color: #15142a;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1000;
  border: 0.5px solid var(--borderNav);
}

/*div global nav*/
.div-perfil {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.div-perfil-colapsed {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/*Botones nav menu*/
.btn-nav {
  width: 100%;
  background-color: transparent;
  border: 0;
  gap: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 5px 5px 5px 15px;
  border-radius: 5px;
}

.btn-nav:hover {
  background-color: var(--fondoHover);
}

.btn-nav:hover svg {
  color: var(--white);
}

.btn-nav:hover p {
  color: var(--white);
}

.btn-nav svg {
  color: var(--secondText);
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.btn-nav p {
  color: var(--secondText);
  font-size: 0.9rem;
  font-weight: 300;
  transition: all 0.3s ease;
}

.btn-nav-colapsed {
  width: 100%;
  background-color: transparent;
  border: 0;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.btn-nav-colapsed svg {
  color: var(--secondText);
  width: 25px;
  height: 25px;
  transition: all 0.3s ease;
}

.btn-nav-colapsed p {
  color: var(--secondText);
  font-size: 0.9rem;
  font-weight: 300;
  transition: all 0.3s ease;
}

.btn-nav-colapsed:hover {
  background-color: var(--fondoHover);
}

.btn-nav-colapsed:hover svg {
  color: var(--white);
}

.btn-nav-colapsed:hover p {
  color: var(--white);
}

.invitar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.expandedPerfil {
  flex-direction: row !important;
  justify-content: space-between;
}

#btn-addPeople {
  width: 70%;
  background-color: transparent;
  border: 0;
  gap: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.colapsed {
  width: 100% !important;
}

#btn-addPeople svg {
  color: var(--secondText);
  width: 25px;
  height: 25px;
  transition: all 0.2s ease;
}

#btn-addPeople p {
  color: var(--secondText);
  font-size: 0.9rem;
  font-weight: 300;
  transition: all 0.2s ease;
}

#btn-addPeople:hover p {
  color: var(--white);
}

#btn-addPeople:hover svg {
  color: var(--white);
}

.icon-add-people {
  position: relative;
  padding: 2px;
  border: 0;
  border-radius: 10px;
  transition: all 0.1s;
}

.icon-add-people p {
  font-size: 0.9rem;
}

#btn-addPeople:hover .icon-add-people #icon-plus {
  background-color: var(--white);
}

#icon-plus {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--secondText);
  color: var(--fondoNav);
  width: 12px;
  height: 12px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  transition: all 0.2s ease;
}

#btn-question {
  background-color: var(--fondoHover);
  color: var(--secondText);
  border: 0;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btn-question:hover {
  background-color: var(--fondoHover2);
  color: var(--white);
}

/*POP UP invite*/

.invite-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--fondoNav);
  border-radius: 12px;
  width: 600px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 60px;
  border: 0.5px solid var(--borderNav);
}

.header-invite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--borderNav);
  padding-bottom: 10px;
}

.header-invite h2 {
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);
}

.btn-close {
  border: none;
  background: none;
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;
  color: var(--secondText);
}

/* Secciones */
.invite-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.invite-section label {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--white);
}

.container-input {
  display: flex;
  justify-content: space-between;
}

.input-email-invite {
  width: 80%;
  background-color: var(--f10);
  border: 1px solid var(--borderNav);
  border-radius: 5px;
  padding: 0 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-email-invite:focus-within {
  border: 1px solid var(--white);
}

#invite-email {
  background-color: transparent;
  width: 100%;
  padding: 10px 10px;
  border: 0;
  color: var(--white);
}

#invite-email:focus {
  outline: none;
  box-shadow: none;
}

#invite-role {
  background-color: transparent;
  border: 0;
  color: var(--white);
}

#invite-role:focus {
  outline: none;
  box-shadow: none;
}

.btn-send {
  width: 85px;
  background-color: var(--blue);
  border: 0;
  color: var(--white);
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

#errorEmail {
  color: var(--red);
  font-size: 0.8rem;
}

.inputError {
  border-color: var(--red) !important;
}

.title-share {
  font-size: 0.9rem;
  color: var(--white);
}

.invitation-code-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 42px;
  padding-left: 20px;
  border: 1px solid var(--borderNav);
  background-color: var(--f10);
  border-radius: 6px;
  font-family: monospace;
  font-size: 0.9rem;
}

.btn-copy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  background-color: var(--white);
  border: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}

.btn-copy svg {
  width: 24px;
  height: 24px;
  color: var(--fondo);
}

.invitation-code-wrapper p {
  color: var(--white);
}

.copy-wrapper {
  position: relative;
  display: inline-block;
  height: 100%;
}

.copied-popup {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 0.8rem;
  opacity: 0;
  z-index: 1000;
  animation: fadeSlideUp 1.5s ease forwards;
}

.code-info {
  font-size: 0.8rem;
  color: var(--secondText);
}

/*************************************/
/*---------MOBIL---------------------*/
/*************************************/

#navbar-mobile {
  width: 100%;
  height: 80px;
  background-color: var(--fondoNavBarMovil);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15px;
  border: 0;
  border-radius: 0;
}

@media (max-width: 479px) {
  /* Estils per ≤ 480px mòbils molt petits */

  .div-perfil-colapsed {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
}
